<div class="container row m-3">
    <div class="container col-4">
        <div class="form-group">
            <label for="operand1">Operand 1: </label>
            <input type="number" class="form-control" id="operand1" placeholder="Enter Operand 1" required autofocus
                [(ngModel)]="operand1" />
        </div>
        <div class="form-group">
            <label for="operand2">Operand 2: </label>
            <input type="number" class="form-control" id="operand1" placeholder="Enter Operand 2" required [(ngModel)]="operand2" />
        </div>

        <button type="button" class="btn btn-dark bg-dark" (click)="onAddClicked()">Add</button>
        <button type="button" class="btn btn-dark bg-dark" (click)="onSubtractClicked()">Subtract</button>
        <button type="button" class="btn btn-dark bg-dark" (click)="onMultiplyClicked()">Multiply</button>
        <button type="button" class="btn btn-dark bg-dark" (click)="onDivideClicked()">Divide</button>
        <button type="button" class="btn btn-dark bg-dark" (click)="onClearClicked()">Clear</button>
        <div class="container mt-5" *ngIf="answerIsAvailable">
            <div class="form-group">
                <h3>Answer: {{answer }}</h3>
            </div>
        </div>
    </div>
