<div class="row m-2 col-4">
    <label>User Id</label>
    <input class="form-control" name="userId" id="userId" [(ngModel)]="userId" autofocus required>
    <label>Title</label>
    <input class="form-control" name="title" id="title" [(ngModel)]="title" required>
    <label>Completed</label>
    <input class="form-control" name="completed`" id="completed" [(ngModel)]="completed" required>
    <button class="btn btn-dark" (click)="onClickAddButton()">Add</button>
</div>