<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Song Name</th>
                <th>Artist</th>
            </tr>
        </thead>
        <tbody *ngFor="let song of songs">
            <tr class="table-row">
                <td>
                    {{song.name}}
                </td>
                <td>
                    {{song.artist}}
                </td>
                <td>
                    <button class="button bg-primary round" (click)="playSong(song.id.toString())">Play</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>