<div class="container">
    <div class="row mt-5 mb-1 col-4">
        <label for="categoriesDDL">Type of saying: </label>
        <select id="categoriesDDL" (change)="onSelectSaying($event)">
            <option value="">Select one...</option>
            <option *ngFor="let category of categories">
                {{ category }}
            </option>
        </select>
    </div>
    <b>or</b>
    <div class="row mt-1 mb-5 col-4">
        <label>Enter person </label>
        <input class="form-control" name="personSelected" id="personSelected" [(ngModel)]="personSelected">
        <button class="btn btn-dark" (click)="getSayingsByPerson()">Enter</button>
    </div>
    <div class="row mt-5">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Category</th>
                    <th>Quote</th>
                    <th>Person</th>
                </tr>
            </thead>
            <tbody *ngIf="matchingSayings.length > 0; else noSayings">
                <tr *ngFor="let saying of matchingSayings">
                    <td>{{ saying.category }}</td>
                    <td>{{ saying.quote }}</td>
                    <td>{{ saying.person }}</td>
                </tr>
            </tbody>
        </table>
        <ng-template #noSayings> No sayings available </ng-template>
    </div>
</div>