<h1>Contact Us</h1>

<div class="container">
    <b>Headquarter:</b><br />
    Company Inc, <br />
    {{name}}<br /> 
    Las vegas street 201<br />
    55001 Nevada, USA<br />
    Phone: {{phone}}<br />
    <a href="mailto:{{email}}">{{email}}</a><br />


</div>