<h1>To Do's</h1>
<div class="container">
    <div class="row mt-5">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>User ID</th>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Completed</th>
                </tr>
            </thead>
            <tbody *ngIf="todos.length > 0; else noActivity">
                <tr *ngFor="let todo of todos">
                    <td>{{todo.userId}}</td>
                    <td>{{todo.id}}</td>
                    <td>{{todo.title}}</td>
                    <td>{{todo.completed}}</td>
                    <td><a routerLinkActive="active" [routerLink]="['/to-do-details']" [queryParams]="{ id: todo.id }"
                        >Edit</a></td>
                </tr>
            </tbody>
        </table>
        <ng-template #noActivity>
            No to do's available
        </ng-template>
    </div>
</div>