
<div *ngIf="animal != undefined" class="container row m-3">
    <h1 class="mb-3">{{animal.name}} Details</h1>
    <h2>Owner: <u><i>{{animal.owner}}</i></u></h2>
    <p class="m-0"><b>Species:</b> {{animal.species}}</p>
    <p class="m-0"><b>Breed:</b> {{animal.breed}}</p>
    <p class="m-0"><b> Check In Date:</b> {{animal.checkInDate | date:'fullDate'}}</p>
    <p class="m-0"><b>Check Out Date:</b> {{animal.checkOutDate | date:'fullDate'}}</p>
</div>
<button class="btn btn-dark mx-5" (click)="onClickUpdateButton()">Update</button>
