<header>
    <div class="containter row">
        <h1 class="bg_head text-bg-dark">Relaxing Spa</h1>
        <!-- <img src="assets/images/relaxingspa.jpg" alt="Relaxing SPA picture" >         -->
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/search">Our Services</a>
                </li>
            </ul>
        </div>
    </nav>
</header>