<div class="container">
    <div class="row col-2">
        <form class="form mt-3" (submit)="onSubmit()" ngNativeValidate>
            <label>Name:</label>
            <input type="text" name="name" [(ngModel)]="newContact.name" #name="ngModel" minlength="4" required>
            <label>Email:</label>
            <input type="text" name="email" [(ngModel)]="newContact.email" #email="ngModel" pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$" minlength="4" required>
            <label>Phone Number:</label>
            <input type="tel" name="phone" [(ngModel)]="newContact.phone" #phone="ngModel" pattern="^(1\s?)?(\d{3}|\(\d{3}\))[\s\-]?\d{3}[\s\-]?\d{4}$">
            <button *ngIf="name.valid && email.valid && phone.valid" type="submit">Save</button>
            <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <div *ngIf="name.errors?.['required']">
                    Name is required.
                </div>
                <div *ngIf="name.errors?.['minlength']">
                    Name must be at least 4 characters long.
                </div>
            </div>
            <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors?.['required']">
                    Email is required.
                </div>
                <div *ngIf="email.errors?.['minlength']">
                    Email must be at least 4 characters long.
                </div>
                <div *ngIf="email.errors?.['pattern']">
                    Email must be a valid email format.
                </div>
            </div>
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                <div *ngIf="phone.errors?.['pattern']">
                    Phone must be a valid phone format.
                </div>
            </div>
        </form>

    </div>
</div>