<main>
    <div class="container m-3">
        <body>
            <h1>Welcome to the Animal Hotel</h1>

            <p>{{intro}}</p>
            <ul>
                <li>Boarding</li>
                <li>Grooming</li>
                <li>Training</li>
                <li>Playtime</li>
            </ul>

            <h2>Our Guests</h2>

            <div class="image-grid">
                <div>
                    <img src="./assets/images/dog1.jpg" alt="Dog 1">
                    <p>Dreamer</p>
                </div>
                <div>
                    <img src="./assets/images/cat1.jpg" alt="Cat 1">
                    <p>Loner</p>
                </div>
                <div>
                    <img src="./assets/images/dog2.jpg" alt="Dog 2">
                    <p>The Twins</p>
                </div>
                <div>
                    <img src="./assets/images/cat2.jpg" alt="Cat 2">
                    <p>Paws</p>
                </div>
                <div>
                    <img src="./assets/images/bird1.jpg" alt="Bird 1">
                    <p>Mr. Green</p>
                </div>
                <div>
                    <img src="./assets/images/rabbit1.jpg" alt="Rabbit 1">
                    <p>Bugs</p>
                </div>
            </div>
            <p>{{conclusion}}</p>
        </body>
    </div>
</main>