.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
  }
  .image-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  body {
 
    background-image: conic-gradient(black, white, grey);
  } 