<h1>{{song.artist}}</h1>
<h2>{{song.name}}</h2>
<!-- <h2>{{song.url}}</h2>
<h2>{{url}}</h2>
<h2>{{videoId}}</h2> -->
<!-- <youtube-player videoId="{{videoId}}" suggestedQuality="highres" [height]="250" [width]="500" 
    [startSeconds]="4" [endSeconds]="15">
</youtube-player> -->

<iframe width="560" height="315"
[src]='url'>
</iframe>