<p>
  This is my uppercase name
  {{ name | uppercase }}
</p><br>
<p>
  This is my titlecase name
  {{ name | titlecase }}
</p><br>

<p>
  Percent: 
  {{number | percent}}
</p><br>
<p>
  Currency in BHD: 
  {{ number | currency:'BHD'}}
</p><br>
<p>
  Currency in USD: 
  {{ number | currency:'USD'}}
</p><br>


