<h1>Welcome to {{title}}</h1>
<h4>Today is {{today}}</h4>
<h4>{{ greeting}}</h4>
<p>{{ msg }}</p>
<br>
<br>
<label>Enter Name</label><input #nameInput type="text">
<button (click)="playGame(nameInput.value)">Enter</button>
<br>
<br>
<app-item-list [items]="items" [filterText]="filterText" [sortField]="sortField" [sortOrder]="sortOrder">
</app-item-list>