<div class="row m-2 col-4">
    <label>Department</label>
    <input class="form-control" name="dept" id="dept" [(ngModel)]="dept" autofocus required>
    <label>Course Number</label>
    <input type="number" class="form-control" name="courseNum" id="courseNum" [(ngModel)]="courseNum" required>
    <label>Course Name</label>
    <input class="form-control" name="courseName" id="courseName" [(ngModel)]="courseName" required>
    <label>Instructor</label>
    <input class="form-control" name="instructor" id="instructor" [(ngModel)]="instructor" required>
    <label>Start Date</label>
    <input type="Date" class="form-control" name="startDate" id="startDate" [(ngModel)]="startDate" required>
    <label>Number of days</label>
    <input type="number" class="form-control" name="numDays" id="numDays" [(ngModel)]="numDays" required>
    <button class="btn btn-dark" (click)="onClickSaveButton()">Save</button>
</div>
