<div class="container">
    <div class="row mt-5 mb-5">
        <label class="fw-bold" for="categoriesDDL">Categories: </label>
        <select id="categoriesDDL" (change)="onSelectCat($event)">
            <option value="">Select one...</option>
            <option *ngFor="let category of categories">
                {{category}}
            </option>
        </select>
    </div>
    <div class="row mt-5">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Category</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Location</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody *ngIf="matchingActivities.length > 0; else noActivity">
                <tr *ngFor="let activity of matchingActivities">
                    <td>{{activity.category}}</td>
                    <td>{{activity.id}}</td>
                    <td>{{activity.name}}</td>
                    <td>{{activity.description}}</td>
                    <td>{{activity.location}}</td>
                    <td>{{activity.price.toFixed(2) | currency}}</td>
                </tr>
            </tbody>
        </table>
        <div class="container">
            <div class="row mt-5 mb-5">
                <label class="fw-bold" for="categoriesDDL">Categories: </label>
                <select id="categoriesDDL" (change)="onSelectCat($event)">
                    <option value="">Select one...</option>
                    <option *ngFor="let category of categories">
                        {{category}}
                    </option>
                </select>
            </div>
            <div class="row mt-5">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Category</th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Location</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="matchingActivities.length > 0; else noActivity">
                        <tr *ngFor="let activity of matchingActivities">
                            <td>{{activity.category}}</td>
                            <td>{{activity.id}}</td>
                            <td>{{activity.name}}</td>
                            <td>{{activity.description}}</td>
                            <td>{{activity.location}}</td>
                            <td>{{activity.price.toFixed(2) | currency}}</td>
                        </tr>
                    </tbody>
                </table>
                <ng-template #noActivity>
                    No Activities available
                </ng-template>
            </div>
        </div>
    </div>
</div>