<div class="container">
    <div class="row m-2 col-4">
        <form (submit)="onSubmit()" ngNativeValidate>
            <h4>Add a review</h4>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control" name="date" id="date" [(ngModel)]="date" required disabled>
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="reviewer" #reviewerValue="ngModel" [(ngModel)]="reviewer" autofocus
                    required>
            </div>
            <div class="form-group">
                <label>Comment</label>
                <textarea class="form-control" name="comment" #commentValue="ngModel" [(ngModel)]="comment" required></textarea>
            </div>
            <button *ngIf="reviewerValue.valid && commentValue.valid" class="btn btn-dark mt-2" type="submit">Submit</button>
            <div *ngIf="reviewerValue.invalid && (reviewerValue.dirty || reviewerValue.touched)">
                <div *ngIf="reviewerValue.errors?.['required']">
                    Name is required.
                </div>
            </div>
        </form>
    </div>
</div>