<h1>Appointments</h1>
<div class="container row ms-2 mt-3 col-6">
    <span class="form-control input-group">
        <label>Filter By Owner</label>
        <input class="form-control ms-1" name="owner" id="owner" [(ngModel)]="owner" required>
        <button class="btn btn-dark" (click)="onClickSearchButton()">Search</button>            
    </span>
</div>

<div class="container">

    <div class="row mt-1">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Check In Date</th>
                    <th>Check Out Date</th>
                    <th>Click For Details</th>
                    <th>Click To Delete</th>
                </tr>
            </thead>
            <tbody *ngIf="animals.length > 0; else noActivity">
                <tr *ngFor="let animal of animals">
                    <td>{{animal.animalId}}</td>
                    <td>{{animal.name}}</td>
                    <td>{{animal.checkInDate | date:'fullDate'}}</td>
                    <td>{{animal.checkOutDate | date:'fullDate'}}</td>
                    <td><a routerLinkActive="active" [routerLink]="['/appt-details']" [queryParams]="{ id: animal.animalId }"
                        >Details</a></td>
                    <td><a routerLinkActive="active" [routerLink]="['/confirm-delete']" [queryParams]="{ id: animal.animalId }"
                        >Delete</a></td>                        
                </tr>
            </tbody>
        </table>
        <ng-template #noActivity>
            No to animal appointments available
        </ng-template>
    </div>
</div>