<div class="container">
    <div class="row mt-5 mb-5">
        <label class="fw-bold" for="categoriesDDL">Pick a category: </label>
        <select id="categoriesDDL" (change)="onSelectCat($event)">
            <option value="">Select one...</option>
            <option *ngFor="let category of categories" [value]="category.CatId">
                {{category.CategoryName}}
            </option>
        </select>
    </div>

    <div class="card-group" *ngIf="matchingServices.length > 0; else noService">
        <div class="card" *ngFor="let service of matchingServices">
            <img class="card-img-top" [src]="image"
                [alt]="service.ServiceID" />
            <div class="card-body">
                <h5 class="card-title">{{service.ServiceName}}</h5>
                <p class="card-text">
                    {{service.Description}}
                </p>
                <button class="btn btn-dark bg-dark round" (click)="serviceDetail(service.ServiceID)">Details</button>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <ng-template #noService>
        No Services available
    </ng-template>
</div>