<div class="container m-3">
    <img src="assets/RelaxingSpa.jpg" alt="Relaxing SPA">
    <h2>About Us</h2>
    <p>{{intro}}</p>
    <h2>Our Mission</h2>
    <p>{{details}}</p>
    <h2>Our Philosophy</h2>
    <p>{{conclusion}}</p>
</div>
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row justify-content-center">
        <div class="card col-md-6 col-sm-12 text-center mb-3" *ngFor="let review of reviews">
            <div class="row d-flex">
                <div class="d-flex flex-column">
                    <h4 class="mt-2 mb-0">{{ review.reviewer }}</h4>
                    <div>
                        <p class="text-left">
                            <span class="text-muted">5.0</span> 
                            <span class="fa fa-star ml-3"></span> 
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span> 
                            <span class="fa fa-star"></span>
                        </p>
                    </div>
                </div>
                <div class="ml-auto">
                    <h5 class="mt-1">{{ review.comment }}</h5>
                    <p class="text-muted">{{ review.date }}</p>
                </div>
            </div>
        </div>
    </div>
</div>