<div class="containter row col-4 m-5 justify-content-center">
    <div class="card-group">
        <div class="card" *ngIf="service != undefined">
            <img class="card-img-top" [src]="picSrc"
                [alt]="service.ServiceID" />

            <div class="card-body">
                <h5 class="card-title">{{service.ServiceName}}</h5>
                <p class="card-text">
                    {{service.Description}}
                </p>
                <p class="card-text">
                    {{service.Price | currency}}
                </p>
            </div>
            <div class="card-footer text-center">
                <small class="text-muted">Minimum appointment time required: {{service.Minutes}}</small>
            </div>
            <p class="m-3 text-center"><a routerLink="/review-add">Review</a></p></div>
            <button class="btn btn-dark mt-2" (click)="onClickReservationBtn()"><span class="spinner-grow spinner-grow-sm"></span>Make Reservation</button>
        </div>
    </div>

