<main>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/MenuItem">Menu item`</a>
        </li> -->
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</main>
