<h1>Courses</h1>
<div class="container">
    <div class="row mt-5">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Dept</th>
                    <th>Course Number</th>
                    <th>Course Name</th>

                </tr>
            </thead>
            <tbody *ngIf="courses.length > 0; else noActivity">
                <tr *ngFor="let course of courses">
                    <td>{{course.dept}}</td>
                    <td>{{course.courseNum}}</td>
                    <td>{{course.courseName}}</td>
                    <td><a routerLinkActive="active" [routerLink]="['/course-details']" [queryParams]="{ id: course.id }"
                        >Details</a></td>
                    <td><a routerLinkActive="active" [routerLink]="['/course-delete']" [queryParams]="{ id: course.id }"
                        >Delete</a></td>                        
                </tr>
            </tbody>
        </table>
        <ng-template #noActivity>
            No to dos available
        </ng-template>
    </div>
</div>