<h1 class="mb-3">Course Details</h1>
<div class="container row m-3">
    <h2><u><i>{{course.courseName}}</i></u></h2>
    <p class="m-0"><b>Instructor:</b> {{course.instructor}}</p>
    <p class="m-0"><b>Start Date:</b> {{course.startDate}}</p>
    <p><b>Number of days:</b> {{course.numDays}}</p>
</div>