<footer class="text-bg-dark bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="widget m-b-40 clearfix widget_text text-2">
                    <h3 class="widget_title">Hours of Operation</h3>
                    <div class="textwidget">
                        <p>Mon 9am-6pm<br>
                            Tues &amp; Wed 9am-9pm<br>
                            Thurs 10am-9pm<br>
                            Fri 10am-7pm<br>
                            Sat 9am-4pm<br>
                            Sun 9am-4pm</p>
                        <p>Closed all major recognized holidays.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="widget m-b-40 clearfix widget_text text-3">
                    <h3 class="widget_title">Contact Information</h3>
                    <div class="textwidget">
                        <p>555 W 10 Mile Road<br>
                            Novi, MI 48374<br>
                            Tel: (555) 555-8770<br>
                            Email: info@relaxingspa.com</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="widget m-b-40 clearfix widget_text text-4">
                    <h3 class="widget_title">Careers</h3>
                    <div class="textwidget">
                        <p><a routerLink="/application">Fill out an application</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="widget m-b-40 clearfix zoom-social-icons-widget zoom-social-icons-widget-2">
                    <h3 class="widget_title">Follow us</h3>
                    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                        <!-- Left -->
                        <div class="me-5 d-none d-lg-block">
                            <span>Get connected with us on social networks:</span>
                        </div>
                        <!-- Left -->

                        <!-- Right -->
                        <div>
                            <a href="" class="me-4 text-reset">
                                <i class="fa fa-facebook-f"></i>
                            </a>
                            <a href="" class="me-4 text-reset">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="" class="me-4 text-reset">
                                <i class="fa fa-google"></i>
                            </a>
                            <a href="" class="me-4 text-reset">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="" class="me-4 text-reset">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="" class="me-4 text-reset">
                                <i class="fa fa-gitlab"></i>
                            </a>
                        </div>
                        <!-- Right -->
                    </section>
                    <!-- Section: Social media -->
                </div>
            </div>
        </div>
    </div>
</footer>