<div class="row m-2 col-4">
    <label>Enter min</label>
    <input class="form-control" name="min`" id="min" [(ngModel)]="min" autofocus>
    <label>Enter max</label>
    <input class="form-control" name="max`" id="max" [(ngModel)]="max">
    <button class="btn btn-dark" (click)="onClickRandomButton()">Press to generate random number</button>
</div>
<div class="row m-4 col-4">
    <h1>Random number: {{ randomNumber }}</h1>
</div>