<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody *ngFor="let menu of menuItems">
            <tr>
                <td>
                    {{menu.id}}
                </td>
                <td>
                    {{menu.name}}
                </td>
                <td>
                    <button class="btn btn-dark bg-dark" (click)="menuDetails(menu.id.toString())">
                        <span class="spinner-grow spinner-grow-sm"></span>
                        Details
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>