<div class="container row m-3 col-6">
    <h1>Are you sure? The following class will be removed!</h1>
    <h2 *ngIf="course != undefined" class="m-4"><u><i>{{course.courseNum}} - {{course.courseName}}</i></u></h2>
    <button class="btn btn-dark mt-3" (click)="onClickDeleteButton()">Delete</button>
</div>
