<h1>Update</h1>
<div class="row m-2 col-4">
    <label>User Id</label>
    <input class="form-control" name="id" id="id" [(ngModel)]="id" disabled>
    <label>User Id</label>
    <input class="form-control" name="userId" id="userId" [(ngModel)]="userId" autofocus>
    <label>Title</label>
    <input class="form-control" name="title" id="title" [(ngModel)]="title" required>
    <label>Completed</label>
    <input class="form-control" name="completed`" id="completed" [(ngModel)]="completed" required>
    <button class="btn btn-dark" (click)="onClickUpdateButton()">Submit</button>
    <button class="btn btn-danger mt-5" (click)="onClickDeleteButton()">Delete</button>
</div>