<div class="container">
    <div class="row mt-5">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>ISBN</th>
                </tr>
            </thead>
            <tbody *ngIf="books.length > 0; else noActivity">
                <tr *ngFor="let book of books">
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.ISBN}}</td>
                </tr>
            </tbody>
        </table>
        <ng-template #noActivity>
            No books available
        </ng-template>
    </div>
</div>