<div class="container">
    <form ngNativeValidate (submit)="onFormSubmitted($event)">
        <div class="form-group">
            <label for="someText">Enter some text</label>
            <input type="text" class="form-control" id="someText" name="someText" placeholder=""
                [(ngModel)]="someText" autofocus/>
            <button class="btn bg-dark btn-dark" (click)="wordCount()">Count</button>
            <h4>{{ numWords }}</h4>
        </div>
        <input type="submit" value="Submit">
        <h4>{{ numWords2 }}</h4>
    </form>
</div>