<div class="container">
    <div class="row m-2 col-4">
        <form (submit)="onSubmit()" ngNativeValidate>
            <h4>Make Reservation</h4>

            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" #nameValue="ngModel" [(ngModel)]="name" autofocus
                    required>
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input type="tel" class="form-control" name="phone" #phoneValue="ngModel" [(ngModel)]="phone" required>
            </div>
            <div class="form-group">
                <label>Date</label>
                <input type="date" class="form-control" name="date" #dateValue="ngModel" [(ngModel)]="date" required>
            </div>
            <div class="form-group">
                <label>Time</label>
                <input type="time" class="form-control" name="time" #timeValue="ngModel" [(ngModel)]="time" required>
            </div>
            <button *ngIf="nameValue.valid && phoneValue.valid && dateValue.valid && timeValue.valid" class="btn btn-dark mt-2" type="submit">Submit</button>
            <div *ngIf="nameValue.invalid && (nameValue.dirty || nameValue.touched)">
                <div *ngIf="nameValue.errors?.['required']">
                    Name is required.
                </div>
            </div>
            <div *ngIf="phoneValue.invalid && (phoneValue.dirty || phoneValue.touched)">
                <div *ngIf="phoneValue.errors?.['required']">
                    Phone number is required.
                </div>
            </div>
            <div *ngIf="dateValue.invalid && (dateValue.dirty || dateValue.touched)">
                <div *ngIf="dateValue.errors?.['required']">
                    Date is required.
                </div>
            </div>
            <div *ngIf="timeValue.invalid && (timeValue.dirty || timeValue.touched)">
                <div *ngIf="timeValue.errors?.['required']">
                    Time is required.
                </div>
            </div>
        </form>
    </div>
</div>