<div class="row m-2 col-4">
    <img src="/assets/images/book.jpg">
    <form>
        <label class="mt-3">Name of pet</label>
        <input class="form-control" name="name" id="name" [(ngModel)]="name" autofocus required>
        <label>Species</label>
        <input class="form-control" name="species" id="species" [(ngModel)]="species" required>
        <label>Breed</label>
        <input class="form-control" name="breed" id="breed" [(ngModel)]="breed" required>
        <label>Owner</label>
        <input class="form-control" name="owner" id="owner" [(ngModel)]="owner" required>
        <label>Check In Date</label>
        <input type="Date" class="form-control" name="checkInDate" id="checkInDate" [(ngModel)]="checkInDate" equired>
        <label>Number of days</label>
        <input type="Date" class="form-control" name="checkOutDate" id="checkOutDate" [(ngModel)]="checkOutDate" required>
    </form>
    <button class="btn btn-dark" (click)="onClickAddButton()">Add</button>
</div>
