<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <div class="container-fluid navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLinkActive="active" routerLink="/"><img class="rounded" src="./assets/images/top.png" alt="Animal pictures"></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/appts">Appointments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/appt-add">Add an appointment</a>
            </li>
        </ul>
    </div>
</nav>