<div *ngIf="animal != undefined" class="container">
    <div class="row m-3 col-8">
        <h1 class="text-danger">Are you sure?</h1>
        <h1 class="text-danger">The following appointment will be removed!</h1>
        <h2  class="mt-3"><u><i>Name: {{animal.name}} / Owner: {{animal.owner}}</i></u></h2>
    </div>
    <div class="row ms-5 col-3">
        <label>Check In Date</label>
        <input type="Date" class="form-control" name="checkInDate" id="checkInDate" [(ngModel)]="checkInDate" disabled>
        <label>Check Out Date</label>
        <input type="Date" class="form-control" name="checkOutDate" id="checkOutDate" [(ngModel)]="checkOutDate" disabled>
    
        <button class="btn btn-dark mt-3" (click)="onClickDeleteButton()">Delete</button>
    </div>
</div>
